section {
    display: flex;          
   height: 100vh;
   background-image: url("https://learn.algoritmika.org/uploads/student/2520320/672778c9107df.webp");
   background-size: cover;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: -1;
   box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
 }
 nav {
    width: 30%;
    background-color: #FFFEB2;
 }
 nav img {
    max-width: 100%;
 }
 .nav-link {
 text-decoration: none;
 display: block;
 color: black;
text-align: center;
opacity: 1;
 }
.citata {text-align: center;
font-size: 24px;
font-style: italic;
font-weight: bold;
} 
.tiacher {
width: 30%;
opacity: 1;
background-color: #FCD49B;
}
.blue {color: #281EE2;
opacity: 1;
}
.orenge {color: #900B09;}
.red {color: #F11616}
.green {color: #14AE5C}
.yelou {color: #C00F0C}
.ping {color: #8A226F}
.dark-red {color: #EC221F}
body {
   padding: 0;
   margin: 0;
}
.tiacher img {width: 100%}
.schedule {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.call_schedule {
   width: 25%;
}
.call_schedule img {
   width: 100%;
}
.schedule_link {
   width: 25%;
}
.schedule_link img {
   width: 100%;
    height: 200px 
}
